<div class="fluid-container">
  <br>
  <div class="row mt3" style="background-color:#65318f;">
    <div class="container mt5 mb5" style="color:white;">
      <h1 class="text-center">Announcement</h1>
      <br>
      <div class="col-md-12">
        <p>Thank you so kindly for expressing interest in our ministry. At this time, we're undergoing a major transition at the moment and seeking excited individuals to be a part of our core. We have temporarily shifted away from our Sunday worship primarily to focus on core development and training. Our target relaunch date is Easter 2016 (March 27, 2016), and we desire to begin with all systems in place. If you desire an opportunity to be developed as a ministry leader for a new church, this would be a great opportunity for you!</p>
        <p>Our church's  vision is to inspire individuals/families to experience God's abundance in every area of their lives. We're based in the Fort Bend area (Missouri City/Sugarland and surrounding areas) and we're preparing to do some great and mighty things!!!!</p>
        <p>If this is something you would be interested in, please contact us as soon as possible so we can provide more information.</p>
      </div>
    </div>
  </div>
  <div class="row mt3">
    <div class="container">
      <div class="col-md-12 col-sm-12 col-xs-12 text-center">
        <h2 class="mb2">Seeking individuals for the following ministries.</h2>
        <ul class="list-unstyled mb2">
          <li>Music/Worship Arts</li>
          <li>Children & Youth Ministry</li>
          <li>Assimilation</li>
          <li>Greeters</li>
          <li>Small Group Leaders</li>
          <li>Evangelism/Outreach</li>
        </ul>
      </div>
    </div>
  </div>
</div>
