<div class="fluid-container">
  <br>
  <div class="row mt3" style="background-color:#65318f;">
    <div class="container mt1 mb1 text-center" style="color:white;">
      <h3>Join Us</h3>
      <h1>Sundays at 9</h1>
      <h3>5107 Ridge Creek Circle, Houston, TX 77053 </h3>
      <div id="map"></div>
    </div>
  </div>
  <div class="row mt3">
    <div class="container">
      <div class="col-md-12 col-sm-12 col-xs-12 text-center">
        <h2 class="mb1">Seeking individuals for the following ministries.</h2>
        <ul class="list-unstyled mb2">
          <li>Music/Worship Arts</li>
          <li>Children & Youth Ministry</li>
          <li>Assimilation</li>
          <li>Greeters</li>
          <li>Small Group Leaders</li>
          <li>Evangelism/Outreach</li>
        </ul>
      </div>
    </div>
  </div>
</div>
