<div class="container">
  <br>
  <div class="row">
    <div class="col-md-10 hidden-xs hidden-sm">
      <div id="map"></div>
    </div>
    <div class="col-md-2 col-sm-12 col-xs-12 text-center">
      <p>JOIN US</p>
  ​    <br>
      <p>Sundays @ 8:00 a.m.</p>
      <p>Ridgemont Community Center</p>
      <p>5107 Ridge Creek Circle</p>
      <p>Houston, TX 77053</p>
      <p>Call (832) 425-8255</p>
    </div>
  </div>
</div>
