<div class="container">
  <br>
  <div class="row">
    <h1 class="text-center">Announcement</h1>
    <br>
    <div class="col-md-8">
      <p>Thank you so kindly for expressing interest in our ministry. At this time, we're undergoing a major transition at the moment and seeking excited individuals to be a part of our core. We have temporarily shifted away from our Sunday worship primarily to focus on core development and training. Our target relaunch date is Easter 2016 (March 27, 2016), and we desire to begin with all systems in place. If you desire an opportunity to be developed as a ministry leader for a new church, this would be a great opportunity for you!</p>

      <p>Our church's  vision is to inspire individuals/families to experience God's abundance in every area of their lives. We're based in the Fort Bend area (Missouri City/Sugarland and surrounding areas) and we're preparing to do some great and mighty things!!!!</p>
      <p>If this is something you would be interested in, please contact us as soon as possible so we can provide more information.</p>


      <!-- <div id="map"></div> -->
    </div>
    <div class="col-md-4 col-sm-12 col-xs-12 text-center">
    <h4>Seeking individuals for the following ministries:</h4>
    <ul class="list-unstyled">
      <li>Music/Worship Arts</li>
      <li>Children & Youth Ministry</li>
      <li>Assimilation</li>
      <li>Greeters</li>
      <li>Small Group Leaders</li>
      <li>Evangelism/Outreach</li>
    </ul>
    <p>Moving from GREAT to GREATER,</p>
    <p>W. Trey Davis, Lead Pastor</p>
    <p>Abundant Faith Fellowship Church</p>
    <p>(832) 425-8255</p>
      <!-- <p>JOIN US</p>
  ​    <br>
      <p>Sundays @ 9:00 a.m.</p>
      <p>Ridgemont Community Center</p>
      <p>5107 Ridge Creek Circle</p>
      <p>Houston, TX 77053</p>
      <p>Call (832) 425-8255</p> -->
    </div>
  </div>
</div>
