<div class="row">
  <div class="col-md-9"></div>
  <div class="col-md-3">
    <p>JOIN US</p>
​    <br>
    <p>Sundays @ 8:00 a.m.</p>
    <p>Ridgemont Community Center</p>
    <p>5107 Ridge Creek Circle</p>
    <p>Houston, TX 77053</p>
    <br>
    <p>Call (832) 425-8255</p>
  </div>
</div>
