---
title: About
---

<div class="row padding-bottom">
  <div class="col-md-12">
    <div class='smaller-logo padding-bottom'><%=image_tag 'affc-logo.png'%></div>
    <h2 class='text-center'>A community of people who desire to experience God’s abundance in every area of their lives.</h2>
  </div>
</div>
<p class="text-center padding-bottom">photo of people</p>

<div class="row">
  <div class="col-md-12">
    <h2 class='text-center'>What we're about.</h2>
  </div>
</div>
<div class="row padding-bottom">
  <div class="col-md-4">
    <h3 class='text-center'>Worship</h3>
    <br>
    <p class='text-center'>We pledge our lives to Christ and covenant with each other to demonstrate His Spirit through worship.</p>
  </div>
  <div class="col-md-4">
    <h3 class='text-center'>Witnessing</h3>
    <br>
    <p>We are on mission to spread the Gospel and inspire a passion for righteousness and a consciousness of duty to God and our fellow man.</p>

  </div>
  <div class="col-md-4">
    <h3 class='text-center'>Ministering</h3>
    <br>
    <p>At AFFC, we believe in ministering to the needs of the people of this church and the community. We strengthen families and preach life-changing truth.</p>
  </div>
</div>

<div class="row padding-bottom">
<p class="text-center padding-bottom">make a short 2 minute video and drop here.</p>
<h2 class="text-center">Welcome to Abundant Faith Fellowship Church!</h2>
<p>We are truly excited that you have decided to take interest in being a part of the Abundant Faith Family. We know without a doubt that you are going to enjoy being a part of this awesome fellowship! We understand how awkward it may be joining a new church, but you will soon discover that we have a very loving and welcoming ministry team at AFFC. Our ministry staff is here to serve you and your family and we would be honored to assist in every way to make this transition as comfortable as possible.</p>
  </div>

<div class="row">
  <div class="col-md-6">
    <div class="port text-center"><%=image_tag 'trey.jpg', class: "img-thumbnail"%></div>
    <h2 class="text-center">Pastor and Founder W. Trey Davis</h2>
    <p>W. Trey Davis is the Senior Pastor and founder of Abundant Faith Fellowship Church. Prior to launching AFFC, he served as Minister of Music at New Covenant Christian Church in Houston, TX for 14 years. Pastor "D" currently holds a Bachelors of Arts Degree in Fine Arts from Texas Southern University, as well as a teaching certificate in General Education from the state of Texas. His future academic plans include attending Houston Graduate School of Theology to pursue his Masters of Divinity.</p>
  </div>
  <div class="col-md-6">
    <div class="port text-center"><%=image_tag 'wife.jpg', class: "img-thumbnail"%></div>
    <h2 class="text-center">Co-Founder LaToya C. Davis</h2>
    <p>LaToya C. Davis is the Co-Founder of Abundant Faith Fellowship Church, and First Assistant to her husband, Pastor W. Trey Davis. Lady "D" currently holds a Bachelors of Science Degree in Child Development from Texas Southern University, as well as a Masters of Education in Advanced Literacy from Concordia University. Her future plans are to pursue her Doctorate in Education, as well as serve as Executive Director of Abundant Faith Fellowship Academy.</p>
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-12">
    <p>Although Pastor and Lady "D" are passionate about serving the AFFC Family, their greatest joy comes from parenting their two beautiful daughters; Meghan Elyse and Kirstyn Naomi.
  </div>
</div>
