---
title: About
---
<div class="row">
  <div class="col-md-12">
    <h1 class="text-center">Welcome!</h1>
    <p>Welcome to “The House of Abundance!” We are truly excited that you have decided to take interest in being a part of the Abundant Faith Family.</p>
    <p>We know without a doubt that you are going to enjoy being a part of this awesome fellowship! We understand how awkward it may be joining a new church, but you will soon discover that we have a very loving and welcoming ministry team at AFFC. Our ministry staff is here to serve you and your family and we would be honored to assist in every way to assist in making this transition as comfortable as possible.</p>
    <p>From the Heart of Pastor & Lady "D"</p>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <h2>Vision Statement</h2>
    <p>The vision of Abundant Faith Fellowship Church is to build a community of individuals who desire to experience God’s abundance in every area of their lives (spirit, soul, mind, and body).
  </div>
  <div class="col-md-6">
    <h2>Mission Statement</h2>
    <p>The mission of Abundant Faith Fellowship Church is to spread the Gospel of Christ to the unsaved, maintain the worship of God, and inspire in all persons a love for Christ, a passion for righteousness, and a consciousness of their duties to God and their fellow man. We pledge our lives to Christ and covenant with each other to demonstrate His Spirit through worship, witnessing, and ministering to the needs of the people of this church and the community.</p>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <h3>Pastor and Founder W. Trey Davis</h3>
    <p>W. Trey Davis is the Senior Pastor and founder of Abundant Faith Fellowship Church “The House of Abundance”. He founded the church on March 2, 2014 with the view of simply transforming lives and building faith based on the Word of God. Pastor Davis currently holds a Bachelors of Arts Degree in Fine Arts from Texas Southern University, as well as a teaching certificate in General Education from the state of Texas. Additionally, he was licensed and ordained into the Gospel Ministry under Bishop Bill Hines, Jr., at New Covenant Christian Church in Houston, TX. His future academic plans include attending Houston Graduate School of Theology to pursue his Masters of Divinity.</p>
    <p>Pastor is married to Lady LaToya C. Davis, and they have two beautiful daughters; Meghan Elyse and Kirstyn Naomi. Some of Pastor’s hobbies include playing musical instruments, bowling, singing, traveling, and golfing. However, his greatest passion is sharing the Gospel of Jesus Christ through the preaching and teaching of God’s Word and musical expression.</p>
  </div>
  <div class="col-md-6">
    <h3>Co-Founder and First Lady LaToya C. Davis</h3>
    <p>LaToya C. Davis is the founding First Lady of Abundant Faith Fellowship Church “The House of Abundance”. Lady Davis currently holds a Bachelors of Science Degree in Child Development from Texas Southern University, as well as a Masters of Education in Advanced Literacy from Concordia University. Her future plans are to pursue her Doctorate in Education, as well as provide extensive mentorship to young at-risk women.</p>
    <p>Lady “D” is married to Pastor W. Trey Davis, and is the proud mother of two lovely daughters; Meghan Elyse and Kirstyn Naomi. Lady “D” enjoys singing, traveling, and reading. However, her greatest passion is her family and ministering side-by-side with her husband.</p>
  </div>
</div>
