---
title: Giving
---
<h1 class="text-center">Giving</h1>

<h3>Tithe and Offerings</h3>
​​
<p>Abundant Faith Fellowship Church thanks you in advance for making the decision to give to our missions to help spread God's word.  Your generous gift is used dollar per dollar to further our work. You can make your gift online using the donation button below.</p>

<p>For more information, please feel free to contact us.</p>
